$base-background-color: #010409;
$base-text-color: #fbfefb;
$base-yellow: #fad28f;
$alt-text-color: #242424;
$base-border-radius: 16px;
$base-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
$base-transition: all 0.22s ease-out;
